:root {
    --branding-color: #6c63ff; 
    --secondary-color: #f9f7fe;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    font-family: var(--default-font-family);
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-family: var(--default-font-family);
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    line-height: 54px;
}

.hero h1 {
    font-family: var(--heading-font-family);
    font-size: 96px;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
    line-height: 127.97px;
}

.hero h2 {
    font-family: var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.btn-branding:hover {
    background: #4a3dbb;
    color: black;
    transform: translateY(-3px);
}

.sentence {
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.primary-link {
    border-radius: 4px;
    padding: 18px 30px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--branding-color); 
    border: 1px solid var(--branding-color) !important;
    transition: all 0.3s ease-in-out; 
}

.primary-link:hover {
    color: black;
    transform: translateY(-3px);
}

#titles {
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 64px;
}

.intro {
    font-family: var(--heading-font-family);
    font-size: 64px;
    font-weight: 700;
    color: #221e1e;
    margin: 10px 0;
    line-height: 85.31px;
}
.intro-p{
    font-family: var(--default-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}
.intro-p2{
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

@media(max-width: 991.98px){

.about-btn{
   margin-left: 100px;
   border-radius: 5px;
 margin-top: -20px;
 padding: 10px;
 margin-bottom: 20px;
}
}