:root {
    --branding-color: /* #6c63ff; #432818;*/ #6a040f;
    --secondary-color: /*#f9f7fe; #bb9457;*/ #03071e;
    --third-color:/* #ffba08;*/ white;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    font-family: var(--default-font-family);
}

.hero {
    background: var(--secondary-color);
    text-align: center;
      padding: 80px 20px;
}

.hero p {
    font-family: var(--default-font-family);
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    line-height: 54px;
    color: white;
}

.hero h1 {
    font-family: var(--heading-font-family);
    font-size: 96px;
    font-weight: 700;
    color: #000;
    margin: 10px 0;
    line-height: 127.97px;
     color: white;
}

.hero h2 {
    font-family: var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
     color: white;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.btn-branding:hover {
    background: #414833;
    color: white;
    transform: translateY(-3px);
}

.sentence {
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

.primary-link {
    border-radius: 4px;
    padding: 18px 30px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--branding-color); 
    border: 1px solid var(--branding-color) !important;
    transition: all 0.3s ease-in-out; 
}

.primary-link:hover {
    color: black;
    transform: translateY(-3px);
}

#titles {
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 64px;
}

.intro {
    font-family: var(--heading-font-family);
    font-size: 64px;
    font-weight: 700;
    color: #221e1e;
    margin: 10px 0;
    line-height: 85.31px;
}
.intro-p{
    font-family: var(--default-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}
.intro-p2{
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

@media(max-width: 991.98px){

.about-btn{
   margin-left: 100px;
   border-radius: 5px;
 margin-top: -20px;
 padding: 10px;
 margin-bottom: 20px;
}
.hero h1{
  font-size: 60px;
}
.hero h2{
  font-size: 18px;
}
}

.about-container, .work-container,.contact-container{
    margin-top: 70px;
}
.content h1, .container h3{
    font-family: var(--heading-font-family);
}
footer .email-link{
    text-decoration: none;
    color: #000;
    font-size: 24px;
    text-align: center;

}
footer .email-link:hover{
    color: var(--branding-color);
}

footer .social-links a{
    margin: 0 20px;
    color: var(--branding-color);
    background-color: var(--secondary-color);   
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 140ms ease-in-out;
}

footer .social-links a:hover{
    color: white;
    background-color: var(--branding-color);

}
footer .contact-box{
    background-color: var(--secondary-color);
    padding:30px 60px;
    border-radius: 10px;
    color: var(--third-color);
}
.content a{
    text-decoration: none;
    color: var(--branding-color);
}
.contact-box p{
    font-family: var(--heading-font-family);
    margin:0;
}
.contact-box h4{
    font-size: 48px;
    font-family: var(--heading-font-family);
}
/* Art section */
ul.cards {
  width: 800px;
  margin: 0 auto 20px;
  height: 300px;
  list-style-type: none;
  position: relative;
  padding: 20px 0;
  cursor: pointer;
}

ul.cards li.card {
  background: #FFF;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  left: 0px;
  box-shadow: 1px 2px 2px 0 #aaa;
  transition: all 0.4s cubic-bezier(.63, .15, .03, 1.12);
}

ul.cards li.card img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

ul.cards li.card-1 {
  z-index: 10;
  transform: rotateZ(-2deg);
}

ul.cards li.card-2 {
  z-index: 9;
  transform: rotateZ(-7deg);
  transition-delay: 0.05s; 
}

ul.cards li.card-3 {
  z-index: 8;
  transform: rotateZ(5deg);
  transition-delay: 0.1s; 
}

ul.cards li.card-4 {
  z-index: 7;
  transform: rotateZ(12deg);
  transition-delay: 0.15s; }

ul.cards.transition li.card {
  transform: rotateZ(0deg); 
}

ul.cards.transition li.card-1 {
  left: 400px; 
}

ul.cards.transition li.card-2 {
  left: 600px; 
}

ul.cards.transition li.card-3 {
  left: 200px; 
}

ul.cards.transition li.card-4 {
  left: 0px; 
}

.art{
    color:white;
    background-color: var(--secondary-color);
}
.art p{
    font-family: var(--default-font-family);
    padding:10px;
}

/*art*/
/* Small screen styles */
@media (max-width: 768px) {
  ul.cards {
    width: 100%;
    height: auto;
    padding: 0;
  }
  ul.cards li.card {
    position: relative;
    width: 40%;
    height: auto;
    left: 0;
    top: 0;
    margin-bottom: 20px;
    transform: rotateZ(0deg);
  }
  ul.cards.transition li.card {
    left: 0;
    top: 0;
  }
    .card {
    margin: 20px auto;
  }
}
